* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: 4px solid black;
}

h2 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f7f7f7;
  padding: 8px;
}

.price {
  font-weight: bold;
  font-size: 24px;
}
.shipping {
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
  font-size: 12px;
  margin-bottom: 20px;
}
.more-info {
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding-bottom: 15px;
}
li {
  margin-left: 20px;
  padding-bottom: 10px;
  list-style: square;
}
li:last-child {
  padding-bottom: 0;
}
p {
  line-height: 1.4;
  margin-bottom: 12px;
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.button {
  background-color: black;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  border-top: 4px solid black;
  padding: 15px;
}
.button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
 
  
}
